.main {
  margin-top: 15px;
  margin-bottom: 20px;
}

.division{
  margin-top: 50px;
  margin-bottom: 30px;
}

.movie {
  background-color: #e0e0e0;
}

.movie img{
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.movie img:hover{
  width: 110%;
  height: 110%;
}

.person{
  width: 300px;
}

.person img{
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.person img:hover{
  width: 110%;
  height: 110%;
}

.show{
  background-color: #e0e0e0;
}

.show img{
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.show img:hover{
  width: 110%;
  height: 110%;
}
