<mat-tab-group [(selectedIndex)]='tabIndex' class="detailTab" *ngIf="movie">

  <!--  Tab para mostrar os detalhes gerais do filme -->
  <mat-tab label="Geral">
    <div class="custom">

  <img class="background" src="{{url_image_poster}}{{movie.poster_path}}" alt="">

      <div class="single">
        <section class="images">
          <div class="poster">
            <div class="image_content">

              <!-- Imagem Poster -->
              <div *ngIf="movie.poster_path; then posterTrue else posterFalse"></div>

              <ng-template #posterTrue>
                <img class="image" src="{{url_image_poster}}{{movie.poster_path}}" alt="{{movie.title}} poster image">
              </ng-template>

              <ng-template #posterFalse>
                <img class="image" src="assets/no-poster.jpg" alt="{{movie.title}} poster image">
              </ng-template>

            </div>

          </div>
          <div class="header">
            <section class="info">

              <!-- Titulo Movie -->
              <div class="movieTitle">
                <span>
                  <h2>{{movie.title}}</h2>
                </span>
              </div>

              <!-- Primeiros icones -->
              <ul class="icons">

                <!-- Vote -->
                <li class="rate" *ngIf="movie.vote_average">
                  <div><h3>{{movie.vote_average}}</h3></div>
                  <div>
                    <mat-icon class="tc-yellow-A100">star</mat-icon>
                  </div>
                </li>

                <!-- Trailer -->
                <li class="single_icon" *ngIf="trustedDashboardUrl">
                  <button mat-button (click)="openTrailer()">
                    <mat-icon>play_arrow</mat-icon>
                    Play Trailer
                  </button>
                </li>
              </ul>

              <!-- Generos -->
              <mat-chip-list *ngFor="let genre of movie.genres" class="genres" >
                <mat-chip color="accent" selected="true">{{genre.name}}</mat-chip>
              </mat-chip-list>

              <!-- Visão geral -->
              <div class="overview">
                <h3>Visão geral</h3>

                <div *ngIf="overviewlength(movie.overview.length); then overTrue else overFalse"></div>

                <ng-template #overTrue>
                  <div>
                    <p>{{movie.overview | truncate:250}}
                      <button mat-button (click)="openOverview()">Veja mais...</button>
                    </p>
                  </div>
                </ng-template>

                <ng-template #overFalse>
                  <p>{{movie.overview}}</p>
                </ng-template>


                <!-- Ultimos Icones -->
                <ul class="icons">
                  <li class="single_icon" *ngIf="movie.release_date">
                    <div>
                      <mat-icon>event</mat-icon>
                    </div>
                    <div class="text">Estreia</div>
                    <div>: {{movie.release_date}}</div>
                  </li>
                  <li class="single_icon" *ngIf="movie.runtime">
                    <div>
                      <mat-icon>access_time</mat-icon>
                    </div>
                    <div class="text">Duração</div>
                    <div>
                      : {{movie.runtime}} mins.
                    </div>
                  </li>
                  <li class="single_icon" *ngIf="movie.revenue > 0">
                    <div>
                      <mat-icon>attach_money</mat-icon>
                    </div>
                    <div class="text">Receita</div>
                    <div>
                      : {{movie.revenue | currency}}
                    </div>
                  </li>
                </ul>
                <ul class="icons">
                  <li class="single_icon" *ngIf="movie.budget > 0">
                    <div>
                      <mat-icon>money_off</mat-icon>
                    </div>
                    <div class="text">Despesas</div>
                    <div>
                      : {{movie.budget | currency}}
                    </div>
                  </li>
                  <li class="single_icon" *ngIf="movie.homepage">
                    <div>
                      <mat-icon>home</mat-icon>
                    </div>
                    <div class="text">Home <br>Page</div>
                    <div>
                      : <button mat-button><a href="{{movie.homepage}}">Pagina oficial</a></button>
                    </div>
                  </li>
                </ul>
              </div>
            </section>
          </div>
        </section>
      </div>
    </div>
  </mat-tab>

  <!-- Tab para mostrar os personagens do filme -->
  <mat-tab label="Elenco" *ngIf="movie.credits.cast.length > 0">
    <mat-grid-list cols="4" gutterSize="5px" rowHeight="390px">
      <mat-grid-tile *ngFor="let person of movie.credits.cast">
        <mat-card class="person">

          <!-- Imagem do perfil dos atores -->
          <div *ngIf="person.profile_path; then trueCast else falseCast"></div>

          <!-- Se a imagem estiver presente na API é usada -->
          <ng-template #trueCast>
            <img mat-card-image
                 routerLink="/person/{{person.id}}" src="{{url_image_profile}}{{person.profile_path}}"
                 alt="{{person.name}} profile image">
          </ng-template>

          <!-- Se a imagem não estiver presente na API, uma imagem local será usada -->
          <ng-template #falseCast>
            <img mat-card-image
                 routerLink="/person/{{person.id}}" src="assets/no_avatar.png"
                 alt="{{person.name}} profile image">
          </ng-template>
        </mat-card>

        <!-- Nome do artista e seu personagem -->
        <mat-grid-tile-footer>
          {{person.name}}<br>
          like {{person.character | truncate: 20}}
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <!-- Tab para mostrar a equipe do filme -->
  <mat-tab label="Equipe técnica" *ngIf="movie.credits.crew.length > 0">
    <mat-grid-list cols="4" gutterSize="5px" rowHeight="400px">
      <mat-grid-tile *ngFor="let person of movie.credits.crew">
        <mat-card class="person">

          <!-- Imagem do perfil do artista -->
          <div *ngIf="person.profile_path; then trueCrew else falseCrew"></div>

          <!-- Se a imagem estiver presente na API é usada-->
          <ng-template #trueCrew>
            <img mat-card-image
                 routerLink="/person/{{person.id}}" src="{{url_image_profile}}{{person.profile_path}}"
                 alt="{{person.name}} profile image">
          </ng-template>

          <!-- Se a imagem não estiver presente na API, uma imagem local será usada -->
          <ng-template #falseCrew>
            <img mat-card-image
                 routerLink="/person/{{person.id}}" src="assets/no_avatar.png"
                 alt="{{person.name}} profile image">
          </ng-template>
        </mat-card>

        <!-- Nome da pessoa e sua participação na produção -->
        <mat-grid-tile-footer>
          {{person.name}}<br>
          {{person.department}}
        </mat-grid-tile-footer>

      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <!-- Tab para mostrar as Imagens do filme -->
  <mat-tab label="Imagens" *ngIf="movie.images">
    <mat-tab-group>

      <!-- Tab para mostrar as imagens dos backdrops, href para sua origem original -->
      <mat-tab label="Imagens" *ngIf="movie.images.backdrops.length > 0">
        <mat-grid-list cols="3" gutterSize="5px" rowHeight="250px" *ngIf="movie.images.backdrops">
          <mat-grid-tile *ngFor="let image of movie.images.backdrops">
            <mat-card class="movie">
              <a href="{{url_images}}{{image.file_path}}" target="_blank">
                <img mat-card-image src="{{url_images}}{{image.file_path}}">
              </a>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-tab>

      <!-- Tab para mostrar as imagens do cartaz, href para sua origem original -->
      <mat-tab label="Posters" *ngIf="movie.images.posters.length > 0">
        <mat-grid-list cols="4" gutterSize="5px" rowHeight="470px" *ngIf="movie.images.posters">
          <mat-grid-tile *ngFor="let image of movie.images.posters">
            <mat-card class="movie">
              <a href="{{url_images}}{{image.file_path}}" target="_blank">
                <img mat-card-image src="{{url_images}}{{image.file_path}}">
              </a>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>

  <!-- Tab para mostrar a recomendação para este filme -->
  <mat-tab label="Recomendações" *ngIf="movie.recommendations.total_results > 0">

    <mat-grid-list cols="4" gutterSize="5px" rowHeight="470px">

      <!-- Uma dica de ferramenta é usada para mostrar a visão geral dos filmes -->
      <mat-grid-tile *ngFor="let movie of movie.recommendations.results" matTooltip="{{movie.overview}}"
                     [matTooltipPosition]="position">
        <mat-card class="movie">

          <!-- Imagem de cartaz de filmes de recomendações -->
          <div *ngIf="movie.poster_path; then trueRecommendation else falseRecommendation"></div>

          <ng-template #trueRecommendation>
            <img mat-card-image (click)="changeTab()" routerLink="/movie/{{movie.id}}"
                 src="{{url_image_poster}}{{movie.poster_path}}">
          </ng-template>

          <ng-template #falseRecommendation>
            <img mat-card-image (click)="changeTab()" routerLink="/movie/{{movie.id}}" src="assets/no-poster.jpg">
          </ng-template>

        </mat-card>

        <!-- Título dos filmes -->
        <mat-grid-tile-footer>{{movie.title}}</mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

  <!-- Tab para mostrar filmes similares a este -->
  <mat-tab label="Filmes Similares " *ngIf="movie.similar.total_results > 0">

    <mat-grid-list cols="4" gutterSize="5px" rowHeight="470px">

      <!-- Uma dica de ferramenta é usada para mostrar a visão geral dos filmes -->
      <mat-grid-tile *ngFor="let movie of movie.similar.results" matTooltip="{{movie.overview}}"
                     [matTooltipPosition]="position">
        <mat-card class="movie">

          <!-- Imagem do cartaz de filmes semelhantes -->
          <div *ngIf="movie.poster_path; then trueSimilar else falseSimilar"></div>

          <ng-template #trueSimilar>
            <img mat-card-image (click)="changeTab()" routerLink="/movie/{{movie.id}}"
                 src="{{url_image_poster}}{{movie.poster_path}}">
          </ng-template>

          <ng-template #falseSimilar>
            <img mat-card-image (click)="changeTab()" routerLink="/movie/{{movie.id}}" src="assets/no-poster.jpg">
          </ng-template>

        </mat-card>

        <!-- Título dos filmes -->
        <mat-grid-tile-footer>{{movie.title}}</mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>

</mat-tab-group>